# Import statements

In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
import keras

from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

# Data Preprocessing

In [2]:
df = pd.read_csv('./Churn_Modelling.csv')

In [3]:
df.shape

(10000, 14)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [5]:
df.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [6]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [7]:
df.tail()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [8]:
df.groupby('Exited').mean()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
Exited,,,,,,,,,,
0,5024.694964,1.569117e+07,651.853196,37.408389,5.033279,72745.296779,1.544267,0.707146,0.554565,99738.391772
1,4905.917526,1.569005e+07,645.351497,44.837997,4.932744,91108.539337,1.475209,0.699067,0.360825,101465.677531

In [9]:
# label encoding

df.replace({'Gender': {'Male': 1, "Female":0}}, inplace=True)

In [10]:
df.value_counts('Geography')

Geography
France     5014
Germany    2509
Spain      2477
dtype: int64

In [11]:
datasets = pd.get_dummies(df, columns=['Geography'])

In [12]:
x = datasets.drop(columns=['RowNumber', 'CustomerId', 'Surname','Exited'], axis=1)

In [13]:
y = datasets['Exited'].values

In [14]:
sc = StandardScaler()
sc.fit(x)

StandardScaler()

In [15]:
x = sc.transform(x)

In [16]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [17]:
print(x_train.shape, x_test.shape)

(8000, 12) (2000, 12)

# Building ANN Model

In [18]:
model = keras.models.Sequential()

In [19]:
# adding layers
model.add(keras.layers.Dense(units=32, activation='relu', input_dim=12))

model.add(keras.layers.Dense(units=16, activation='relu'))

model.add(keras.layers.Dropout(0.3))

model.add(keras.layers.Dense(units=1, activation='sigmoid'))

In [20]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Training and Model Evaluation

In [21]:
model.fit(x_train, y_train,batch_size=10, epochs=10)

Epoch 1/10
800/800 [==============================] - 3s 2ms/step - loss: 0.4747 - accuracy: 0.7943
Epoch 2/10
800/800 [==============================] - 2s 2ms/step - loss: 0.3938 - accuracy: 0.8354
Epoch 3/10
800/800 [==============================] - 2s 2ms/step - loss: 0.3724 - accuracy: 0.8441
Epoch 4/10
800/800 [==============================] - 2s 2ms/step - loss: 0.3578 - accuracy: 0.8494
Epoch 5/10
800/800 [==============================] - 2s 2ms/step - loss: 0.3577 - accuracy: 0.8544
Epoch 6/10
800/800 [==============================] - 2s 2ms/step - loss: 0.3501 - accuracy: 0.8541
Epoch 7/10
800/800 [==============================] - 2s 2ms/step - loss: 0.3469 - accuracy: 0.8543
Epoch 8/10
800/800 [==============================] - 2s 2ms/step - loss: 0.3455 - accuracy: 0.8565
Epoch 9/10
800/800 [==============================] - 2s 2ms/step - loss: 0.3398 - accuracy: 0.8601
Epoch 10/10
800/800 [==============================] - 2s 2ms/step - loss: 0.3399 - accuracy: 0.8572

In [22]:
print(model.evaluate(x_test, y_test))

63/63 [==============================] - 0s 2ms/step - loss: 0.3640 - accuracy: 0.8550
[0.36399295926094055, 0.8550000190734863]

In [23]:
print(model.evaluate(x_train, y_train))

250/250 [==============================] - 0s 2ms/step - loss: 0.3231 - accuracy: 0.8660
[0.3231234550476074, 0.8659999966621399]